<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What am I about?</h2>
                    <p>Hello! I’m Sami and I am pursuing a BFA in industrial design from the Cleveland Institute of Art.</p>

                    <p>I design because I love creating unique solutions to solve people’s day to day needs. I believe that listening to others is essential in understanding empathy for those needs to create impactful design. From a family of entrepreneurs in Seattle, I am inspired by opportunities for change and have fun collaborating with others. Along with design, my other interests include watercolor painting, traveling, learning to cook with friends, as well as enjoying coffee, ferry boats, and the color grey.</p>
                    <!-- <h3>About Me</h3>
                    <p>From a family of entrepreneurs I have always been challenged to look at situations differently and seek new opportunities. As a designer I want to create unique solutions to help people’s day to day needs. I believe that listening to others is essential in understanding those needs to create impactful design.</p> -->
                    <br>
                    <p><a class="btn btn-xl page-scroll" href="#resume">Tell me more</a></p>
                </div>
            </div>
        </div>
    </section>