<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What am I about?</h2>
                    <p>Hello! I’m Sami and I am pursuing a BFA in industrial design from the Cleveland Institute of Art.</p>
                    <h3>About Me</h3>
                    <p>From a family of entrepreneurs I have always been challenged to look at situations differently and seek new opportunities. As a designer I want to create unique solutions to help people’s day to day needs. I believe that listening to others is essential in understanding those needs to create impactful design.</p>
                    <a class="btn btn-xl page-scroll" href="#resume">Tell me more</a>
                </div>
            </div>
        </div>
    </section>