<!-- About/Resume Section -->
    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume</h2>
                    <a class="btn btn-xl" href="other/SamiPiercy_Resume2016.pdf">Download &nbsp;<i class="fa fa-file-pdf-o"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Education</h3>
                    <h5>Cleveland Institute of Art (CIA)</h5>
                    <p>Cleveland, OH<br>
                    BFA, Industrial Design, Class of 2016</p>

                    <h3>SKILLS</h3>
                    <h5>Digital</h5>
                    <p>Adobe Illustrator, Photoshop, InDesign,<br>
                    SolidWorks, Autodesk Alias, KeyShot, SketchBook Pro, <br>Keynote, Microsoft Office</p>
                    <h5>Physical</h5>
                    <p>Rendering, Sketching, Prototyping (foam, wood, plastic),<br>Laser Cutting, Vacuum Forming, Slip Casting</p>

                    <h3>AWARDS & EXHIBITIONS</h3>
                    <ul>
                        <li>Gund Scholarship</li>
                        <li>Edmonds Arts Festival Foundation Scholarship</li>
                        <li>Student Independent Exhibition:
                            <ul>
                                <li>Nottingham-Spirk Business Innovation Award</li>
                                <li>Cleveland Institute of Art Board Award</li>
                            </ul>
                        </li>
                    </ul>

                    <h3>LEADERSHIP</h3>
                    <h5>CIA, Student Life and Housing (2014-Present)</h5>
                    <ul>
                        <strong>Apartment Liaison for Upperclass Housing</strong>
                        <li>Managed communication between students, CIA Staff and building manager.</li>
                        <li>Lead monthly community building events.</li>
                    </ul>
                    <h5>InterVarsity of Case Western Reserve University (2013-2016)</h5>
                    <ul>
                        <strong>Student Leader</strong>
                        <li>Cleveland Burning River Project</li>
                        <li>Bolivia Global Project: Taught and learned crafts with indigenous girls.</li>
                        <li>Managed social media and event advertising.</li>
                    </ul>

                    <h3>OTHER EMPLOYMENT</h3>
                    <h5>CIA, Admissions Office (2015-Present)</h5>
                    <ul>
                        <strong>Student Ambassador & Office Assistant</strong>
                        <li>Lead tours to prospective students and parents.</li>
                   </ul>

                    <h5>UpsideRight Shop (2014-Present)</h5>
                    <ul><li><p>Store owner on Etsy at <a href="http://www.etsy.com/shop/upsideright">www.etsy.com/shop/upsideright</a></p></li></ul>
                </div>
                <div class="col-md-6">
                    <h3>RELATED EXPERIENCE</h3>
                    <h5>Tervis (2015) <small>Venice, FL</small></h5>
                    <ul>
                        <strong>Design Intern, New Product Development</strong>
                        <li>Completed concepts and presented a new line of future Tervis products to the executive team.</li>
                        <li>Performed market research through customer interviews, store visits, and focus groups.</li>
                        <li>3D modeled, sketched, and problem-solved packaging.</li>
                    </ul>
                    <h5>Little Tikes (2014) <small>Hudson, OH</small></h5>
                    <ul>
                        <strong>Design Intern, Industrial Design</strong>
                        <li>Collaborated with the design and marketing teams to create the Lil’ Ocean Explorers™ baby line, currently on the market.</li>
                        <li>Made foam prototypes and solved packaging issues.</li>
                    </ul>

                    <h5>International Housewares Competition (2016)</h5>
                    <ul><li>Designed a hanging storage system for root vegetables that reminds people to use their root vegetables to keep them fresh longer.</li></ul>

                    <h5>Rainbow Babies Children’s Hospital <br> University Hospitals Sponsored Project (2015)</h5>
                    <ul><li>Designed concepts to make seizure monitoring less frightening to children.</li></ul>

                    <h5>Parkinson’s Tremor Project (2015)</h5>
                    <ul>
                        <li>3D modeled prototypes for less intrusive tremor suppression wearables.</li>
                        <li>Collaborated with Case Western Reserve University bioengineering students.</li>
                        <li>Designed for patients in Ghana, Africa.</li>
                    </ul>

                    <h5>Fisher-Price Sponsored Project (2014)</h5>
                    <ul>
                        <li>Designed a ‘3-in-1’ baby product that transforms into a crib, playpen, and changing station.</li>
                    </ul>

                    <h5>Cleveland Foundation Sponsored Project (2014)</h5>
                    <ul><li>Designed a floor plan and furniture concept for a vacant space to be used by entrepreneurs.</li></ul>

                    <h5>Museum of Contemporary Art Cleveland Furniture Design Competition (2014)</h5>
                    <ul><li>Designed a suspended rope bridge bench out of piping, reclaimed wood, and cabling.</li></ul>

                </div>
            </div>
        </div>
    </section>